In [66]:
import numpy as np
import pandas as pd

In [67]:
wiki = pd.read_html('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')
wiki

[     Eilė    Miestas  2021 m.  2011 m.  2001 m.  1989 m.  1979 m.   1970 m.  \
 0       1    Vilnius   546155   524406   542287   576747   475825  372100.0
 1       2     Kaunas   298753   315993   378943   418087   368649  305116.0
 2       3   Klaipėda   152008   162360   192954   202929   176648  140012.0
 3       4   Šiauliai   100653   109328   133883   145629   118724   93057.0
 4       5  Panevėžys    89110    99690   119749   126483   102303   73328.0
 ..    ...        ...      ...      ...      ...      ...      ...       ...
 98     99   Užventis      600      833      898     1149     1229    1406.0
 99    100    Dusetos      531      717      914     1185     1393    1578.0
 100   101  Kavarskas      503      666      809      972     1113    1256.0
 101   102  Troškūnai      389      451      525      672     1174    1434.0
 102   103   Panemunė      217      274      329      398      506     492.0

       1959 m. 1923 m.  1897 m. Tankumas (2019)
 0    236078.0  167400  154532*    1374 žm./km²
 1    219287.0   92446   70920*    1843 žm./km²
 2     90521.0   35845    20100    1356 žm./km²
 3     59722.0   21387   16128*    1251 žm./km²
 4     41096.0   19197   12968*    1590 žm./km²
 ..        ...     ...      ...             ...
 98     1704.0     (?)      945     260 žm./km²
 99     1806.0    1164     1278     316 žm./km²
 100    1287.0    1041     1546     443 žm./km²
 101    1495.0    1252     1000     458 žm./km²
 102     539.0     637      NaN     112 žm./km²

 [103 rows x 12 columns],
                                                     0  \
 0   Ž • A • R Lietuvos temosIstorija Priešistorė L...
 1                            Ž • A • R Lietuvos temos
 2                                                 NaN
 3                                            Istorija
 4                                         Priešistorė
 5                                                 NaN
 6                                                 LDK
 7                                                 NaN
 8                                  Rusijos imperijoje
 9                                                 NaN
 10                                         Tarpukaris
 11                                                NaN
 12                                   APK ir okupacija
 13                                                NaN
 14                                    Nepriklausomybė
 15                                                NaN
 16                                         Geografija
 17                                                NaN
 18                                           Politika
 19                                         Vyriausybė
 20                                                NaN
 21                                        Padalijimas
 22                                                NaN
 23                                         Kariuomenė
 24                                                NaN
 25                                          Ekonomika
 26                                                NaN
 27                                        Demografija
 28                                                NaN
 29                                            Kultūra
 30                                                NaN
 31                                          Simboliai
 32                                                NaN
 33                 Kategorija · Vikiteka · Vikisritis

                                                     1  \
 0                                                 NaN
 1                            Ž • A • R Lietuvos temos
 2                                                 NaN
 3   Priešistorė Laikotarpiai (Paleolitas · Mezolit...
 4   Laikotarpiai (Paleolitas · Mezolitas · Neolita...
 5                                                 NaN
 6   Valstybės susidarymas · Lietuvos kunigaikštyst...
 7                                                 NaN
 8   Sukilimai (1831 m. · 1863 m.) · Baudžiavos pan...
 9                                                 NaN
 10    Nepriklausomybės aktas · Nepriklausomybės kovos
 11                                                NaN
 12  Lietuvos okupacija (Sovietų Sąjungos (1940 ir ...
 13                                                NaN
 14  Sąjūdis · Dainuojanti revoliucija · Baltijos k...
 15                                                NaN
 16  Klimatas · Regionai · Miestai · Ežerai · Upės ...
 17                                                NaN
 18  Vyriausybė Konstitucija · Prezidentas · Vyriau...
 19  Konstitucija · Prezidentas · Vyriausybė (Minis...
 20                                                NaN
 21  Administracinis suskirstymas (Apskritys · Savi...
 22                                                NaN
 23  Lietuvos ginkluotosios pajėgos (Sausumos pajėg...
 24                                                NaN
 25  Žemės ūkis · Ryšiai · Litas · Transportas (Oro...
 26                                                NaN
 27  Lietuviai · Tautinės mažumos · Religija · Švie...
 28                                                NaN
 29  Lietuvių kalba · Literatūra · Muzika · Sportas...
 30                                                NaN
 31                          Vėliava · Herbas · Himnas
 32                                                NaN
 33                 Kategorija · Vikiteka · Vikisritis

                                      2
 0                                  NaN
 1             Ž • A • R Lietuvos temos
 2                                  NaN
 3                                  NaN
 4                                  NaN
 5                                  NaN
 6                                  NaN
 7                                  NaN
 8                                  NaN
 9                                  NaN
 10                                 NaN
 11                                 NaN
 12                                 NaN
 13                                 NaN
 14                                 NaN
 15                                 NaN
 16                                 NaN
 17                                 NaN
 18                                 NaN
 19                                 NaN
 20                                 NaN
 21                                 NaN
 22                                 NaN
 23                                 NaN
 24                                 NaN
 25                                 NaN
 26                                 NaN
 27                                 NaN
 28                                 NaN
 29                                 NaN
 30                                 NaN
 31                                 NaN
 32                                 NaN
 33  Kategorija · Vikiteka · Vikisritis  ,
               Ž • A • R Lietuvos temos  \
 0                                  NaN
 1                             Istorija
 2                          Priešistorė
 3                                  NaN
 4                                  LDK
 5                                  NaN
 6                   Rusijos imperijoje
 7                                  NaN
 8                           Tarpukaris
 9                                  NaN
 10                    APK ir okupacija
 11                                 NaN
 12                     Nepriklausomybė
 13                                 NaN
 14                          Geografija
 15                                 NaN
 16                            Politika
 17                          Vyriausybė
 18                                 NaN
 19                         Padalijimas
 20                                 NaN
 21                          Kariuomenė
 22                                 NaN
 23                           Ekonomika
 24                                 NaN
 25                         Demografija
 26                                 NaN
 27                             Kultūra
 28                                 NaN
 29                           Simboliai
 30                                 NaN
 31  Kategorija · Vikiteka · Vikisritis

                            Ž • A • R Lietuvos temos.1  \
 0                                                 NaN
 1   Priešistorė Laikotarpiai (Paleolitas · Mezolit...
 2   Laikotarpiai (Paleolitas · Mezolitas · Neolita...
 3                                                 NaN
 4   Valstybės susidarymas · Lietuvos kunigaikštyst...
 5                                                 NaN
 6   Sukilimai (1831 m. · 1863 m.) · Baudžiavos pan...
 7                                                 NaN
 8     Nepriklausomybės aktas · Nepriklausomybės kovos
 9                                                 NaN
 10  Lietuvos okupacija (Sovietų Sąjungos (1940 ir ...
 11                                                NaN
 12  Sąjūdis · Dainuojanti revoliucija · Baltijos k...
 13                                                NaN
 14  Klimatas · Regionai · Miestai · Ežerai · Upės ...
 15                                                NaN
 16  Vyriausybė Konstitucija · Prezidentas · Vyriau...
 17  Konstitucija · Prezidentas · Vyriausybė (Minis...
 18                                                NaN
 19  Administracinis suskirstymas (Apskritys · Savi...
 20                                                NaN
 21  Lietuvos ginkluotosios pajėgos (Sausumos pajėg...
 22                                                NaN
 23  Žemės ūkis · Ryšiai · Litas · Transportas (Oro...
 24                                                NaN
 25  Lietuviai · Tautinės mažumos · Religija · Švie...
 26                                                NaN
 27  Lietuvių kalba · Literatūra · Muzika · Sportas...
 28                                                NaN
 29                          Vėliava · Herbas · Himnas
 30                                                NaN
 31                 Kategorija · Vikiteka · Vikisritis

             Ž • A • R Lietuvos temos.2
 0                                  NaN
 1                                  NaN
 2                                  NaN
 3                                  NaN
 4                                  NaN
 5                                  NaN
 6                                  NaN
 7                                  NaN
 8                                  NaN
 9                                  NaN
 10                                 NaN
 11                                 NaN
 12                                 NaN
 13                                 NaN
 14                                 NaN
 15                                 NaN
 16                                 NaN
 17                                 NaN
 18                                 NaN
 19                                 NaN
 20                                 NaN
 21                                 NaN
 22                                 NaN
 23                                 NaN
 24                                 NaN
 25                                 NaN
 26                                 NaN
 27                                 NaN
 28                                 NaN
 29                                 NaN
 30                                 NaN
 31  Kategorija · Vikiteka · Vikisritis  ,
                      0                                                  1
 0          Priešistorė  Laikotarpiai (Paleolitas · Mezolitas · Neolita...
 1                  NaN                                                NaN
 2                  LDK  Valstybės susidarymas · Lietuvos kunigaikštyst...
 3                  NaN                                                NaN
 4   Rusijos imperijoje  Sukilimai (1831 m. · 1863 m.) · Baudžiavos pan...
 5                  NaN                                                NaN
 6           Tarpukaris    Nepriklausomybės aktas · Nepriklausomybės kovos
 7                  NaN                                                NaN
 8     APK ir okupacija  Lietuvos okupacija (Sovietų Sąjungos (1940 ir ...
 9                  NaN                                                NaN
 10     Nepriklausomybė  Sąjūdis · Dainuojanti revoliucija · Baltijos k...,
              0                                                  1
 0   Vyriausybė  Konstitucija · Prezidentas · Vyriausybė (Minis...
 1          NaN                                                NaN
 2  Padalijimas  Administracinis suskirstymas (Apskritys · Savi...
 3          NaN                                                NaN
 4   Kariuomenė  Lietuvos ginkluotosios pajėgos (Sausumos pajėg...]

In [68]:
cities = wiki[0]
cities.head()

,Eilė,Miestas,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.,Tankumas (2019)
0,1,Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
1,2,Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
2,3,Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
3,4,Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
4,5,Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²

In [71]:
# Pakeiskite indeksą į stulpelį 'Miestas'
cities.set_index('Miestas').head()

,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.
Miestas,,,,,,,,,
Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*
Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*
Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100
Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*
Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*

In [70]:
cities.drop(['Eilė', 'Tankumas (2019)'], axis=1, inplace=True)

In [72]:
columns = cities.columns.tolist()
columns

['Miestas',
 '2021\xa0m.',
 '2011\xa0m.',
 '2001\xa0m.',
 '1989\xa0m.',
 '1979\xa0m.',
 '1970\xa0m.',
 '1959\xa0m.',
 '1923\xa0m.',
 '1897\xa0m.']

In [73]:
column_trim = []
for col in columns:
    trimmed = col.replace('\xa0m.', '')
    column_trim.append(trimmed)

cities.columns = column_trim

In [98]:
cities.head()

,Miestas,2021,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,546155,524406,542287,576747,475825,372100,236078,167400,154532*
1,Kaunas,298753,315993,378943,418087,368649,305116,219287,92446,70920*
2,Klaipėda,152008,162360,192954,202929,176648,140012,90521,35845,20100
3,Šiauliai,100653,109328,133883,145629,118724,93057,59722,21387,16128*
4,Panevėžys,89110,99690,119749,126483,102303,73328,41096,19197,12968*

In [87]:
cities.fillna('0', inplace=True)

In [75]:
bad_1897 = [not isinstance(x, int) for x in cities['1923']]

In [76]:
cities['1923'].loc[bad_1897]

0      167400
1       92446
2       35845
3       21387
4       19197
        ...
98        (?)
99       1164
100      1041
101      1252
102       637
Name: 1923, Length: 103, dtype: object

In [77]:
cities.replace(['(??)', '(?)'], int(0), inplace=True)

In [140]:
def fix_star(x):
    if type(x) == str and x[-1] == '*':
        return x[:-1]
    return x

In [142]:
cities['1897'] = cities['1897'].apply(fix_star)

In [143]:
cities[['1959', '1970', '1923', '1897']] = cities[['1959', '1970', '1923', '1897']].astype(np.int64)

In [144]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Miestas  103 non-null    object
 1   2021     103 non-null    int64
 2   2011     103 non-null    int64
 3   2001     103 non-null    int64
 4   1989     103 non-null    int64
 5   1979     103 non-null    int64
 6   1970     103 non-null    int64
 7   1959     103 non-null    int64
 8   1923     103 non-null    int64
 9   1897     103 non-null    int64
dtypes: int64(9), object(1)
memory usage: 8.2+ KB